body {
margin: 0%;
padding: 0%;
background-color: burlywood;
font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: burlywood; 
   padding: 20px 25px;
}
.navbar-brand{
    color:black
}
.navbar-nav.navbar-link{
    font-size: 20px;
    margin-left: 20px;
}
.navbar-nav .navbar-link:hover{
background-color: saddlebrown;
color: azure;

}
.dropdown-item:hover{
    background-color: peru;
    color: azure;
}

.dropdown-item{
    padding:10px;
    font-size: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.dropdown-menu{
    border: none;
    padding: 12px;
    box-shadow: 0 4px 15px peru;
    border-radius: 12px;
    font-size: 30px;
    position: absolute;
    background-color: burlywood;  
}
img{
    display: block;
    margin: 20px auto;
    max-width: 80;
}
@keyframes fadeIn {
    from{opacity:0; transform: translateY(20px);}
    to{opacity:1; transform: translateY(20px);}
}
.container img {
    animation: fadeIn 1.5s ease-in-out;
}
@keyframes bounceGlow{
    0%, 100%{transform: translateY(0); text-shadow: 0 0 5px chocolate;}
    50%{transform: translateY(-10px); text-shadow: 0 0 20px ;}
}
.container h1{
    animation:bounceGlow 2s infinite
}
H1{text-align: center;
font-family: 'Bodoni Moda SC';}
.table{
    background-color: white;
    border: 2px solid peru;
}
