body {
margin: 0%;
padding: 0%;
background-color: burlywood;
font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: burlywood; 
   padding: 20px 25px;
}
.navbar-brand{
    color:black
}
.navbar-nav.navbar-link{
    font-size: 20px;
    margin-left: 20px;
}
.navbar-nav .navbar-link:hover{
background-color: saddlebrown;
color: azure;

}
.dropdown-item:hover{
    background-color: peru;
    color: azure;
}

.dropdown-item{
    padding:10px;
    font-size: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.dropdown-menu{
    border: none;
    padding: 12px;
    box-shadow: 0 4px 15px peru;
    border-radius: 12px;
    font-size: 30px;
    position: absolute;
    background-color: burlywood;  
}




.form-container {
width: 600px;
margin: 150px auto 0;
background: white;
padding: 30px;
border-radius: 15px;
box-shadow: 0 0 20px saddlebrown;
border: 3px solid peru;
}


h1{
text-align: center;
font-size: 32px;
margin-bottom: 20px;
font-family: 'playfair display';
}

.row {
display: flex;
gap: 20px;
}

.input-group {
flex: 1;
display: flex;
flex-direction: column;
margin-bottom: 15px;
}

label {
font-weight: 600;
margin-bottom: 5px;
}

input {
padding: 12px 18PX;
border-radius: 50px;
border: 2px solid brown;
outline: none;
}

input:focus {
border-color: saddlebrown;
}

.login-btn {
width: 100%;
padding: 12px;
background: peru;
color: white;
border: none;
border-radius: 25px;
font-size: 18px;
cursor: pointer;
}

.login-link {
text-align: center;
margin-top: 20px;
}


.icon {
display: flex;
justify-content: center;
gap: 30px;
margin-top: 15px;
}

.icon a {
display: flex;
flex-direction: column;
align-items: center;
text-decoration: none;
color: black;
}

.icon img {
width: 50px;
height: 50px;
object-fit: contain;
}
