html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: burlywood;

}
*{
    box-sizing: inherit;
}
.container{
text-align: center;
background: burlywood;
padding: 40px 50px;
border-radius: 5px;

}
H1{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    color: black;
   
}


.navbar {
    background-color: rgb(250, 211, 160); 

    padding-top: 25px;
    padding-bottom: 25px;
}

.NAV-LINK .navbar{
font-size: 40;
color:black;
margin-left: 25px;
margin-right: 25;
transition:0.2s ease;
}

.nav-link:hover .navbar{
background-color: saddlebrown;
color: azure;

}

.dropdown-item:hover{
    background-color: saddlebrown;
    color: azure;
}

.dropdown-item{
    padding:10px;
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.dropdown-menu{
    border: none;
    padding: 12px;
    box-shadow: 0 4px 15px peru;
    border-radius: 12px;
    font-size: 30px;
    position: absolute;
    background-color: bu;  
}


CARD


.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    margin: 40px auto;
    padding: 0 15PX;
    font-family: 'Bodoni Moda SC';
}
.card{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px coral;
    flex-direction: column;
    display: flex;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1s ease-out forwards;

}
@keyframes fadeUp{
    to{
        opacity: 1;
        transform:translateY(0)
    }
}
.card:nth-child(1) { animation-delay: 0s; }
.card:nth-child(2) { animation-delay: 0.3s; }
.card:nth-child(3) { animation-delay: 0.6s; }
.card:nth-child(4) { animation-delay: 0.9s; }


 .card.show {
        opacity: 1;
        transform: translateY(0) scale(1)
    }
    
.custom-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.drinks{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20PX;
    
}
.H5{
font-family: 'Bodoni Moda SC';}


